* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Cairo", sans-serif;
  direction: rtl;
  overflow-x: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* media  */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.header {
  background-color: #062521;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav img {
  width: 180px;
  height: 70px;
  margin-left: 80px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 767px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header nav img {
    display: none;
  }
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  list-style: none;
}

nav ul a {
  text-decoration: none;
  display: block;
  position: relative;
  padding: 25px 10px;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav ul li a.active,
nav ul li a:hover {
  color: #10CAB7;
  border-bottom: 2px solid #10CAB7;
}

.landing {
  height: calc(100vh - 80.39px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 60px;
}

.landing .context {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 40px;
}

.landing h1 {
  color: #10CAB7;
  font-size: 70px;
  font-weight: bold;
}

.landing p {
  margin: 10px 40px;
  letter-spacing: 1.5;
}

.landing .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 14px;
}

.landing .context i {
  font-size: 20px;
  margin-left: 6px;
  padding: 6px;
}

.landing .context .go {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
  color: #10CAB7;
}

@media (max-width: 767px) {
  .landing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .landing h1 {
    font-size: 40px;
  }
  .landing p {
    font-size: 12px;
    margin: auto;
  }
  .landing .icons i {
    margin: auto;
    font-size: 15px;
  }
}

.about {
  margin-top: 50px;
  background-color: #CFFFFA;
  padding-top: 100px;
  padding-bottom: 100px;
}

.about .about-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .about-contact img {
  width: 140px;
  height: 140px;
  max-width: 100%;
  overflow: hidden;
}

.about .contact {
  padding: 20px;
}

.about .contact h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 20px;
  color: black;
}

.about .contact p {
  line-height: 1.5;
}

.about .contact span {
  margin-right: 10px;
  color: #10CAB7;
}

@media (max-width: 767px) {
  .about .about-contact img {
    display: none;
  }
}

.product {
  padding-top: 100px;
  padding-bottom: 100px;
}

.product .product-n {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  font-size: 30px;
}

.product .product-n::before {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 2px;
  width: 120px;
  background-color: #ddd;
  bottom: -10px;
}

.product .product-n::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 2px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #333;
  bottom: -10px;
  left: 50%;
}

.product .boxs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(210px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  gap: 30px;
  margin-top: 60px;
}

.product .boxs .box {
  text-align: center;
  border-radius: 5px;
  padding: 20px 2px;
  border: 1px solid #062521;
}

.product .boxs .box .image img {
  height: 150px;
  width: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  border-radius: 3px;
}

.product .box .topic {
  color: #333;
  padding: 8px;
  font-size: 20px;
  border-bottom: 1px solid #ddd;
}

.product .box ul {
  margin: 20px auto;
  list-style: none;
}

.product .box ul li {
  padding: 5px;
}

.product .box ul span {
  color: #333;
}

.product .box .topics-price {
  color: #10CAB7;
  display: block;
  font-weight: bold;
  margin-bottom: 30px;
}

.product .box del {
  font-size: 15px;
  color: #333;
}

.product .box a {
  text-decoration: none;
  background-color: #10CAB7;
  color: white;
  margin-top: auto;
  padding: 10px 40px;
  border-radius: 20px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
  background-color: #062521;
  color: white;
}

footer span {
  line-height: 2;
}

footer .hi {
  color: #10CAB7;
  padding-left: 3px;
}

footer .icons i {
  font-size: 15px;
  margin-top: 8px;
  padding-right: 8px;
}

.conacted {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #CFFFFA;
  resize: horizontal;
}

.conacted .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.conacted h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #10CAB7;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 50px;
  font-weight: bold;
}

@media (max-width: 767px) {
  .conacted .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .conacted .content form {
    margin: 0  60px 60px 0;
  }
}

.conacted .content form {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

.conacted .content form .main-input {
  padding: 10px;
  display: block;
  border: 1px solid #ccc;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 77%;
}

.conacted .content form .main-input:focus {
  outline: none;
}

.conacted .content form textarea.main-input {
  height: 200px;
}

.conacted .content form input[type="submit"] {
  background-color: #10CAB7;
  color: white;
  padding: 10px 23px;
  border-radius: 3px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

.conacted .content ul {
  list-style: none;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.conacted .content ul li {
  margin: 15px;
  color: black;
}

.conacted .content ul li i {
  font-size: 20px;
  color: black;
  margin-left: 5px;
}

@media (max-width: 767px) {
  .conacted .content ul {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */