


.about {
    margin-top: 50px;
    background-color:#CFFFFA ;
    padding: 20px;
    
} 


.about .about-contact {
    display: flex;
    justify-content: center;
    
}
.about .about-contact img {
    width: 100px;
    height: 100px;
    max-width: 100%;
    overflow: hidden;
}
.about .contact {
    // display: flex;
    // flex-direction: column;
    padding: 20px;
}
.about .contact h2 {
    display: flex;
    justify-content: flex-start;
    color: black;
    
}
.about .contact span {
    margin-right: 10px;
  
    color: #10CAB7;
}
@media (max-width : 767px) {
    .about .about-contact img{
        display: none;
        
    }
}