


.about {
    margin-top: 50px;
    background-color: #ddd;
    padding: 20px;
    
} 


.about .about-contact {
    display: flex;
    
}

.about .contact {
    // display: flex;
    // flex-direction: column;
    padding: 20px;
}
.about .contact h2 {
    display: flex;
    justify-content: flex-end;
    color: orangered;
    
}
.about .contact span {
    margin-left: 10px;
    color: black;
}
@media (max-width : 767px) {
    .about .about-contact img{
        display: none;
        
    }
}