



footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    background-color: rgb(76, 108, 108);
}
footer .hi  {
    color: rgb(207, 19, 66);
}
footer .icons i {
    font-size: 35px;
    padding-right: 5px;
}