



footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    background-color: #062521;
    color: white;
}
footer span {
    line-height: 2;
}
footer .hi  {
    color: #10CAB7;
    padding-left: 3px;
}

footer .icons i {
    font-size: 15px;
    margin-top: 8px;
    padding-right: 8px;
    // color: white;
}