


.header {
    background-color: #ddd;
}
nav {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row-reverse;
   
    
}

nav img {
    width: 70px;
    height: 70px;
    margin-left: 80px;
}
@media (max-width : 767px) {
    .header nav img {
        margin-left: 40px;
    }
}
nav ul {
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
}
nav ul a {
    text-decoration: none;
    display: block;
    position: relative;
    padding: 25px 10px;
    color: #333;
    transition: 0.3s;
}
nav ul li a.active,
nav ul li a:hover  {
    color: orangered;
    border-bottom:2px solid orangered;
}
