

.header {
    background-color: #062521;
    
}
nav {
    flex: 1;
    display: flex;
    align-items: center;
}

nav img {
    width: 70px;
    height: 70px;
    margin-left: 80px;
    object-fit: cover;
}
@media (max-width : 767px) {
    .header nav img {
        margin-left: 40px;
    }
}
nav ul {
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
    
}
nav ul a {
    text-decoration: none;
    display: block;
    position: relative;
    padding: 25px 10px;
    color: white;
    transition: 0.3s;
}
nav ul li a.active,
nav ul li a:hover  {
    color: #10CAB7;
    border-bottom:2px solid #10CAB7;
}
