


.landing {
  height: calc(100vh - 80.39px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 60px;
}


.landing .context {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-right: 40px;
}

.landing h1 {
    color: #10CAB7;
    font-size: 70px;
    font-weight: bold;
    // margin: 0;
}
.landing p {
    
    margin: 10px 40px;
    letter-spacing: 1.5;
}
.landing .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;

}
.landing .context i {
    font-size: 20px;
    margin-left: 6px;
    padding: 6px;
}
.landing .context .go {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    color:#10CAB7 ;
}

@media (max-width:767px) {
    .landing {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .landing  h1 {
        font-size: 40px;
    }
    .landing  p {
        font-size: 12px;
        margin: auto;
    }
    .landing .icons i {
        margin: auto;
        font-size: 15px;
    }
}