




.product {
    padding-top: 100px;
    padding-bottom: 100px;
}
.product .product-n {
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 50px;
}
.product .product-n::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 120px;
    background-color: #ddd;
    bottom: -10px;
  }
  .product .product-n::after {
    content: "";
    position: absolute;
    
    width: 14px;
    height: 2px;
    transform: translateX(-50%);
    background-color: #333;
    // border: 1px solid #333;
    bottom: -10px;
    left: 50%;
  }
.product .boxs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    gap: 30px;
    margin-top: 60px;
}
.product .boxs .box {
    // background-color: #483e3e;
  text-align: center;
  border-radius: 5px;
  padding: 20px 2px;
  border: 1px solid #062521;
}

.product .boxs .box .image img {
   height: 150px;
   width: 150px;
   max-width: 100%;
   padding-bottom:5px ;
   margin-bottom: 10px;
   border-bottom: 1px solid #ddd;
  border-radius: 3px;
}
.product .box .topic {
    color: #333;
    padding: 8px;
    font-size: 20px;
    border-bottom: 1px solid #ddd;
}
.product .box ul {
    margin: 20px auto;
    list-style: none;
}
.product .box ul li {
    // color: white;
    padding: 5px;
}
.product .box ul span {
    color: #333;
}
.product .box .topics-price {
    color: #10CAB7;
    display: block;
    font-weight: bold;
    margin-bottom: 30px;
}
.product .box del {
    font-size: 15px;
    color: #333;
}
.product .box a {
    text-decoration: none;
    background-color: #10CAB7;
    color: white;
    padding: 10px 40px;
    border-radius: 20px;
}